<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Введите название книги</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
<br/>
    <label for="authorName">Введите автора</label>
    <input type="text" th:field="*{authorName}" id="authorName"/>
    <div style="color:red" th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}">Email error</div>
    <br/>
    <label for="year">Введите год</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br/>
    <input type="submit" value="Создать"/>
</form>
</body>
</html>